<h1>Find nearby bus</h1>

<p>
	Just give us your location. You can trust us! For sure! No worries! We're being truthful!
</p>

<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
